
// package.json和这个文件只能存在一个
{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}